  <body>
    <h1>Shmitter</h1>
    <p>
      This is the home page for the <a href="http://railstutorial.org/">Shmitter</a>.
    </p>
  </body>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

